<!--<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <p><%#= Spree.t :powered_by  %> <%#= link_to 'Spree', 'http://spreecommerce.com/' %></p>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>     -->

<div class="footer-container">
  <div class="f-detail">
    <div class="container">
      <div class="footer row">
        <div class="blocks span3">
          <h2>Connect with us</h2>

          <ul>
            <li class="address"><span>&nbsp;</span>

              <p>Address: #20-40 - Tower G45</p>
            </li>
            <li class="phone"><span>&nbsp;</span>+91 828 5309 796</li>
            <li class="fax"><span>&nbsp;</span>+91 828 5309 796</li>
            <li class="email"><span>&nbsp;</span><a href="#">rox.shahid@gmail.com</a></li>
            <li class="chat"><span>&nbsp;</span><a href="#">shahidrox</a></li>
          </ul>
        </div>
        <!-- Block myaccount module -->
        <div class="blocks span3">
          <h2>My Account</h2>
          <ul>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Order History</a></li>
            <li><a href="#">Wish List</a></li>
            <li><a href="#">Newsletter</a></li>
          </ul>
        </div>
        <!-- /Block myaccount module -->
        <!-- MODULE Block footer -->
        <div class="blocks span3">
          <h2>Information</h2>
          <ul>
            <li class="item"><a href="#">About Us</a></li>
            <li class="item"><a href="#">Delivery Information</a></li>
            <li class="item"><a href="#">Privacy Policy</a></li>
            <li class="item"><a href="#">Terms &amp; Conditions</a></li>
          </ul>
        </div>

        <!-- /MODULE Block footer -->

        <div class="blocks span3 last">
          <h2>Customer Service</h2>
          <ul>
            <li  class="item"><a href="#">Contact Us</a></li>
            <li  class="item"><a href="#">Returns</a></li>
            <li  class="item"><a href="#">Site Map</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="f-updates container">
    <div class="row">
      <div class="span4">
        <div class="block1">
          <h3>

            Social Network        </h3>
          <div class="social-block">
            <ul>
              <li><a class="twitter" title="Twitter" href="#">&nbsp;</a></li>
              <li><a class="googleplus" title="Google+" href="#">&nbsp;</a></li>
              <li><a class="vimeo" title="Vimeo" href="#">&nbsp;</a></li>
              <li><a class="rss" title="RSS" href="#">&nbsp;</a></li>
              <li><a class="skype" title="Skype" href="#">&nbsp;</a></li>
              <li><a class="youtube" title="Youtube" href="#">&nbsp;</a></li>
              <li><a class="flickr" title="Flickr" href="#">&nbsp;</a></li>
            </ul>

          </div>
        </div>
      </div>
      <div class="span4">
        <div class="block1">
          <h3>
            Payment Options          </h3>
          <div class="payment-mathods">
            <ul>

              <li>
                <!--<a title="Paypal" href="#"><img src="/assets/store/images/p1.png"></a>-->
                <a title="" href="#"><%= image_tag('/assets/store/image/p1.png') %></a>
              </li>

              <li>
                <!--<a title="" href="#"><img src="/assets/store/images/p2.png"></a>-->
                <%= image_tag('/assets/store/image/p2.png') %>
              </li>

              <li>
                <!--<a title="" href="#"><img src="/assets/store/images/p3.png"></a>-->
                <a title="" href="#"><%= image_tag('/assets/store/image/p3.png') %></a>
              </li>

              <li>
                <!--<a title="" href="#"><img src="/assets/store/images/p5.png"></a>-->
                <a title="" href="#"><%= image_tag('/assets/store/image/p5.png') %></a>
              </li>

              <li>
                <!--<a title="" href="#"><img src="/assets/store/images/p6.png"></a>-->
                <a title="" href="#"><%= image_tag('/assets/store/image/p6.png') %></a>
              </li>

              <li>
                <!--<a title="" href="#"><img src="/assets/store/images/p4.png"></a>-->
                <a title="" href="#"><%= image_tag('/assets/store/image/p4.png') %></a>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="span4">

        <div class="block1 last">
          <h3 class="twitter-icon">Twitter </h3>
          <div class="tweet query">&nbsp;</div>
        </div>
      </div>
      <!--<script type="text/javascript" charset="utf-8" src="js/jquery.tweet.js"></script>
      <script type="text/javascript">
          $(document).ready(function() {
              $('.tweet').tweet({
                  modpath: '#',
                  count:1,
                  avatar_size: 32,
                  join_text: "auto",
                  username:  "EnvatoWebDesign",
                  loading_text: "loading tweets..."
              });
          });
      </script>  -->





    </div>

  </div>
</div>
<div class="clear">&nbsp;</div>
<div class="copyright">
  <div class="container">
    <p>© 2013 rox.shahid@gmail.com. All Rights Reserved.</p>
  </div>
</div>